      <div class="counter">
        <span ng-bind="vm.count | number"></span>
      </div>
      <div class="progress-section">
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped active"
            role="progressbar"
            style="width: {{ vm.progress < 100 ? vm.progress : 100 }}%"
            ng-class="{'progress-bar-success': vm.progress >= 75, 'progress-bar-warning': vm.progress <= 25, }"
            ng-bind="(vm.progress | number:0) + '%'">
            </div>
        </div>
        <p>Goal: {{vm.goal | number}} books to deliver in {{vm.place}}</p>
        <div class="alert alert-success" role="alert" ng-show="vm.progress >= 100">You reached the goal! Keep delivering more :)</div>
      </div>
      <div class="controls">
        <button class="btn btn-primary" type="button" ng-click="vm.addBook()"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-book"></span></button>
      </div>
      <div class="controls">
        <!--
        -->
        <button class="btn btn-primary" type="button" ng-click="vm.addBook(10000)">Add 10k books</button>
        <!--
        -->
        <button class="btn btn-primary" type="button" ng-click="vm.addBook(-10000)">Substract 10k books</button>
      </div>

      <div class="personal">I delivered {{vm.ownTotal | number}} <span class="glyphicon glyphicon-book"></span></div>
